<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>MORPH-PRO</title>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="bUQsv798Tg/1XudmcLpQ3pFalb+Xoc1NMVWk7h4XcVfU7XjiyCCJogV4IEya+T2xfKDyLdMoHv+1O4hCO7BzOQ==" />
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/blueprint/screen.css' %}" />
<link rel="stylesheet" media="print" href="{% static 'stylesheets/blueprint/print.css' %}" />
<!--[if lt IE 8]><link rel="stylesheet" media="screen" href="{% static 'stylesheets/blueprint/ie.css' %}" /><![endif]-->
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/custom.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/common.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/pages.css' %}" />


  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
  <div class="container">
    <header>
  <a href="/"><img alt="Morphing server" class="round" src="{% static 'images/logo.png' %}" /></a>
<nav class="round">
  <ul>
    <li><a href="/">home</a></li>

    <li><a href="/morph_requests/new">morph!</a></li>
    <li><a href="/morph_requests">archive</a></li>
        <li><a href="/users/sign_in">sign in</a></li>
  </ul>
</nav>
</header>

    <section class="round">
      <h1>Contacts</h1>
        <ul>
            <li> Pavel Pevzner: ppevzner at ucsd.edu</li>
            <li> Natalie Castellana: ncastell at ucsd.edu </li>
            <li> Kira Vyatkina: kira.vyatkina at gmail.com </li>
        </ul>

    </section>
    <footer>
  <nav class="round">
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/contacts">contacts</a></li>
        <li><a href="/help">help</a></li>
      </ul>
  </nav>
</footer>

  </div>
</body>
</html>