<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>MORPH-PRO</title>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/blueprint/screen.css' %}" />
<link rel="stylesheet" media="print" href="{% static 'stylesheets/blueprint/print.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/blueprint/ie.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/custom.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/common.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/pages.css' %}" />


  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
  <div class="container">
    <header>
  <a href="/"><img alt="Morphing server" class="round" src="{% static 'images/logo.png' %}" /></a>
<nav class="round">
  <ul>
    <li><a href="/">home</a></li>

    <li><a href="/morph/new">morph!</a></li>
      {% if user_greeting %}
      <li><a href="/history">my requests</a></li>
      {% endif %}
    <li><a href="/morph/archive">archive</a></li>
      {% if user_greeting %}
      <li> <a href="/user/sign_out">sign out</a></li>
      {% else %}
      <li> <a href="/user/sign_in">sign in</a></li>
      {% endif %}
  </ul>
  <div id="user-greeting">
      {% if user_greeting %}
        Signed in as <strong>{{user_greeting}}</strong>
      {% else %}
        Not signed in
      {% endif %}

  </div>
</nav>
</header>

    <section class="round">
      <script type="text/javascript">
    function toggleSteps() {
        var cb = $('#morph_request_auto_interpolation');
        var mc = $('#morphing-count');
        if (cb.is(':checked')) {
            mc.fadeOut();
        } else {
            mc.fadeIn();
        }
    }

    function updateProtoName(fileid, updatefieldid) {
        var me = $('#' + fileid);
        var filepath = me.val();
        var ss = filepath.split(/[\\.]/);
        $('#' + updatefieldid).attr('value', ss[ss.length - 2]);
    }
</script>
<h1>New morphing</h1>
<form class="new_morph_request" id="new_morph_request" action="./new" method="post">
        {% csrf_token %}
    <table>
        <tbody><tr>
            <td>
                <label for="morph_request_protein_a_name">Initial protein</label>
            </td>
            <td>
                <input size="20" type="text" name="protein_a_name" id="morph_request_protein_a_name">
                <input type="file" name="protein_a" id="protein_a" accept="chemical/x-pdb" onchange="updateProtoName('protein_a', 'morph_request_protein_a_name')">
            </td>
        </tr>
        <tr>
            <td>
                <label for="morph_request_protein_b_name">Final protein</label>
            </td>
            <td>
                <input size="20" type="text" name="protein_b_name" id="morph_request_protein_b_name">
                <input type="file" name="protein_b" id="protein_b" accept="chemical/x-pdb" onchange="updateProtoName('protein_b', 'morph_request_protein_b_name')">
            </td>
        </tr>
        <tr>
            <td>
                <label for="morph_request_auto_interpolation">Choose the number of intermediate states automatically</label>
            </td>
            <td>
                <input name="auto_interpolation" type="hidden" value="0"><input onclick="toggleSteps();" type="checkbox" value="1" checked="checked" name="auto_interpolation" id="morph_request_auto_interpolation">
            </td>
        </tr>
        <tr id="morphing-count" style="display: none;">
            <td>
                <label for="morph_request_morphing_count">Number of intermediate <br> states</label>
            </td>
            <td>
                <input size="3" value="8" type="text" name="morphing_count" id="morph_request_morphing_count">
                <div class="hint">Should be between 2 and 20</div>
            </td>
        </tr>
    </tbody></table>
    <div style="text-align: center">
        <input type="submit" name="commit" value="Create Morph request" data-disable-with="Create Morph request">
    </div>
</form>
    </section>
    <footer>
  <nav class="round">
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/contacts">contacts</a></li>
        <li><a href="/help">help</a></li>
      </ul>
  </nav>
</footer>

  </div>