<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>MORPH-PRO</title>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/blueprint/screen.css' %}" />
<link rel="stylesheet" media="print" href="{% static 'stylesheets/blueprint/print.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/blueprint/ie.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/custom.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/common.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'stylesheets/pages.css' %}" />


  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
  <div class="container">
    <header>
  <a href="/"><img alt="Morphing server" class="round" src="{% static 'images/logo.png' %}" /></a>
<nav class="round">
  <ul>
    <li><a href="/">home</a></li>

    <li><a href="/morph_requests/new">morph!</a></li>
    <li><a href="/morph/archive">archive</a></li>
        <li><a href="/user/sign_in">sign in</a></li>
  </ul>
</nav>
</header>

    {% if messages %}
    <div class="notice  message round">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
    {% endif %}

    <section class="round">
      <h2>Forgot your password?</h2>

<form action="reset_password " method="post">

    {% csrf_token %}

  <p><label for="user_email">Email</label><br />
  <input type="email" name="email" id="user_email" /></p>

  <p><input type="submit" name="commit" value="Send me instructions to reset password"/></p>
</form>
  <a href="/user/sign_in">Sign in</a><br />

  <a href="/user/sign_up">Register</a><br />
    </section>
    <footer>
  <nav class="round">
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/contacts">contacts</a></li>
        <li><a href="/help">help</a></li>
      </ul>
  </nav>
</footer>

  </div>
</body>
</html>